@import (reference) '../../../util/common.less';

.editElement {
  font-family: @font-family;
  position: relative;
  width: 100%;
  height: 100%;
  margin: unset;
  border: none;
  outline: none;
  z-index: 1;
  overflow: auto;
}

.font-compact {
  line-height: @line-height-compact;
  font-size: @font-size-compact;
}

.font-normal {
  line-height: @line-height;
  font-size: @font-size;
}

.font-large {
  line-height: @line-height-large;
  font-size: @font-size-large;
}